.whatsappImage20240527At1 {
  position: absolute;
  top: calc(50% - 381px);
  left: calc(50% - 375.5px);
  width: 751px;
  height: 762px;
  object-fit: cover;
}
.whatsappImage20240527At1Parent {
  width: 751px;
  position: relative;
  height: 762px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
